body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f6f9fc;
}

header {
  display: flex;
  align-items: center;
  background-color: #232f3e;
  color: white;
  padding: 20px;
}

header h1 {
  margin: 0;
  font-weight: bold;
}

header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 20px;
}

section {
  margin-bottom: 20px;
  background-color: #f6f9fc;
  padding: 20px;
  transition: background-color 0.3s ease;
}

section h2 {
  color: #232f3e;
  font-weight: bold;
}

section:hover {
  background-color: #e9ecef;
  cursor: pointer;
}

section li h3 {
  color: #232f3e;
}